<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- v-model 双向数据绑定 -->
        <p> 姓：<input type="text" v-model="firstname"> </p>
        <p> 名：<input type="text" v-model="lastname"></p>
        <!-- 上面的input内容只要发生变化，vue的模板都会重新解析一遍html，从而带动下面的函数的重载 -->
        <p> 姓名：<span>{{fullname()}}</span></p>
    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                firstname: '张',
                lastname: '三'
            },
            methods: {
                fullname() {
                    console.log("模板重载了！");
                    return this.firstname + this.lastname;
                }
            }
        });
    </script>
</body>

</html>