<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>学校信息</h2>
        <h2>学校名称:{{name}}</h2>
        <h2>学校地址：{{adress}}</h2>
        <hr/>
        <h2>学生信息</h2>
        <h2>学生姓名：{{student.name}}</h2>
        <h2>学生年龄 真实：{{student.age.rAge}} 对外:{{student.age.sAge}}</h2>
        <h2>爱好</h2>
        <ul>
            <li v-for="(f,index) in student.hobby" :key="index">
                {{f}}
            </li>
        </ul>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}} --- {{f.age}}
            </li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: '#root',
            data: {
                name: 'kanokano',
                adress: '湖南',
                student: {
                    name: 'tony',
                    // sex: '男',
                    age: {
                        rAge: 40,
                        sAge: 18
                    },
                    hobby: ['唱', '跳', 'rap', '篮球'],
                    friends: [{
                        name: 'tom',
                        age: 11
                    }, {
                        name: 'jerry',
                        age: 12
                    }]
                }
            }
        });
    </script>
</body>

</html>