<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <hr/>
        <h2>学生信息</h2>
        <button @click="age1">年龄+1</button>
        <button @click="addsex">添加性别</button>
        <button @click="addfriend">在列表首位添加一个朋友</button>
        <button @click="zhangsan">修改第一个朋友的名字为张三</button>
        <button @click="addhobby">添加一个爱好</button>
        <button @click="kaiche">修改第一个爱好为开车</button>

        <h2>姓名：{{student.name}}</h2>
        <h2 v-if="student.sex">性别：{{student.sex}}</h2>
        <h2>年龄 真实：{{student.age.rAge}} 对外:{{student.age.sAge}}</h2>
        <h2>爱好</h2>
        <ul>
            <li v-for="(f,index) in student.hobby" :key="index">
                {{f}}
            </li>
        </ul>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}} --- {{f.age}}
            </li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: '#root',
            data: {
                student: {
                    name: 'tony',
                    // sex: '男',
                    age: {
                        rAge: 40,
                        sAge: 18
                    },
                    hobby: ['唱', '跳', 'rap', '篮球'],
                    friends: [{
                        name: 'tom',
                        age: 11
                    }, {
                        name: 'jerry',
                        age: 12
                    }]
                }
            },
            methods: {
                age1() {
                    this.student.age.rAge++;
                    this.student.age.sAge++;
                },
                addsex() {
                    this.$set(this.student, 'sex', '男')
                },
                addfriend() {
                    this.student.friends.unshift({
                        name: 'ikun',
                        age: 114514
                    })
                },
                zhangsan() {
                    //name自带getset
                    this.student.friends[0].name = '张三'
                },
                addhobby() {
                    this.student.hobby.push('你干嘛。。。哎哟')
                },
                kaiche() {
                    this.student.hobby.splice(0, 1, '开车')
                }
            },
        });
    </script>
</body>

</html>